# CMake Artifacts
/build/
/out/
CMakeFiles/
CMakeCache.txt
CMakeScripts/
cmake_install.cmake
Makefile
*.cmake

# IDEs (Visual Studio & VS Code)
.vs/
.vscode/
*.user
*.suo
*.sln

# Compiled Binaries & Objects
*.exe
*.out
*.app
*.o
*.obj
*.lib
*.a
*.dll
*.so
*.dylib

# Output Results (Simulations)
*.csv
