# Blocks Python cache files that clog up Visual Studio
**/__pycache__/
*.py[cod]
*$py.class

# Blocks PyCharm project settings so they don't clash with VS
.idea/

# CMake Artifacts
/build/
/out/
/Figures/
CMakeFiles/
CMakeCache.txt
CMakeScripts/
cmake_install.cmake
Makefile
*.cmake

# IDEs (Visual Studio & VS Code)
.vs/
.vscode/
*.user
*.suo
*.sln
.venv/
venv/
ENV/
env/

# Compiled Binaries & Objects
*.exe
*.out
*.app
*.o
*.obj
*.lib
*.a
*.dll
*.so
*.dylib

# Output Results (Simulations)
*.csv
